.jumbotron{
    margin-bottom: 120px;
}

.photo{
    height: 360px;
}

.about{
    margin-top: 50px;
    margin-bottom: 200px;
}

.contact{
    margin-top: 50px;
    margin-bottom: 120px;
}

.sticky-bottom{
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;    
}